#result{
    font-weight: bold;
    margin-left:100px;
    font-size: 20pt;
}
#nowscore{
    font-weight: bolder;
    margin-left:100px;
    font-size: 30pt;
}
#computer{
    width: 313px;
    height: 700px;
    float : left;
}
 #btn{
    margin-left: 50px;
}
#bgcloud{
    width: 100%;
    height: 100%;
    background-image: url( "../gameAssets/mukchipa/bgcloudf.png" );
    background-repeat : no-repeat;
    background-size : cover;
}
#ro{
    background: url( "../gameAssets/mukchipa/ro.png" ) no-repeat;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
#si{
    background: url( "../gameAssets/mukchipa/si.png" ) no-repeat;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
#pa{
    background: url( "../gameAssets/mukchipa/pa.png" ) no-repeat;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}